<!-- begin footer-widgets -->
<div class="footer-widgets">
  <div class="container">
    <div class="row">
      {% include footer-widgets/widget-info.html %}
      {% include footer-widgets/widget-recent-posts.html %}
      {% include footer-widgets/widget-subscribe.html %}
    </div>
  </div>
</div>
<!-- end footer-widgets -->

<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="copyright"> 2020 &copy; thedangw. Created & Designed by <a href=https://t.me/wilsontdw">Hoàng Đăng</a>.</div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
<!-- backup copyright
        <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/">{{site.title}}</a>. Created & Designed by <a href="https://fb.com/hoanglight.98" target="_blank">Wilson D</a>.</div>
      </div>
 -->
